.vscode/
node_modules/
yarn-error.log
.bablerc
.DS_Store
.idea/
.yarn/
.yarnrc
.yarnrc.yml
.yarnrc.yaml
.yarnrc.yaml.lock
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

.babelrc
.eslintrc.js
.eslintrc.yaml
.eslintrc.yml
.eslintrc.json
.eslintrc.js

dist/
build/

.cursorrules
.cursorignore
.cursorignorerules
.cursorignorerules.json
.cursorignorerules.yaml
.cursorignorerules.yml
.cursorignorerules.json